@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline {
    text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
  }

  .title-shadow {
    text-shadow: 4px 4px 0 #878905;
  }
}

@font-face {
  font-family: "ChosunGu";
  src: local("ChosunGu"), url(../assets/ChosunGu.ttf);
}
@font-face {
  font-family: "Spongeboy";
  src: local("Spongeboy"), url(../assets/Spongeboy.ttf);
}
@font-face {
  font-family: "SUITE";
  src: local("SUITE"), url(../assets/SUITE-Medium.ttf),
    url(../assets/SUITE-Medium.woff2) format("woff2");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-display: swap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.helpmodal::after {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #facc15 transparent;
  transform: translateX(-50%);
}
